extends layout
block headScripts
	script(src="/javascripts/serve_subJade.js")
	if nfc
		script var URL = "http://localhost:3000";
	else 
		script var URL = "";

block mainContainer
	p(id='showImage') Show Image?
	div(id='displayImage')

	a(href="/") Link back to main