extends layout
block headScripts
	script(src='/javascripts/index.js')
	link(rel='stylesheet', href='stylesheets/index.css')
block mainContainer
	.indexContainer

		h2(class='welcome') Welcome, Visitor

		.planVisit
			a.button(href='selectMuseum') Start New Visit
			//a.button(href='favourites') View Favorites

		.recent
			h3(class='welcome') Recent Visits
			#visits-list



