extends layout
block headScripts
  script(src='/javascripts/info.js')

block mainContainer
    .header
        div(id='header', class='artifact')
          //h4{title}
          //h4 Artist: #{data.artist} 
          //h4 Created: #{data.year}
    .infobutton
        div(id='infobutton')
            img(id='likebtn',src='../images/like.png' align='left' width='10%')
            img(id='favbtn', src='../images/fav.png' align='right' width='10%')
            br       
            hr


        .upcoming
            #signupbox
                .boxSignup
                    h5.accordion-toggle Additional Information

                    .accordion-content.default
                       //p   {data.description}

        div(id='footer')
            a.button(href='checkin') Next Check-In

        div(id='footer')
            a.button(href='index') End Tour
  
