extends layout
block headScripts
  script(src='/javascripts/info.js')
block mainContainer
    h3
      |#{title}
      //h4 Artist: #{data.artist} 
      //h4 Created: #{data.year}

    div

      //-img(src='../images/test.png' width='80%')
      //-br
      img(id='likebtn',src='../images/like.png' align='left' width='10%')
      a(href='something')
      img(id='favbtn', src='../images/fav.png' align='right' width='10%')
      br
      hr
      p
        //#{data.description}
      a.button(href= URL + '/checkIn/') Next Check-In
