doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
		//- link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		//- link(rel='stylesheet', href='/stylesheets/test_styles.css')

		link(rel='manifest' href='manifest.json')

		script(defer, src='/javascripts/jquery-1.11.3.min.js')
		script(src='/javascripts/nfc_utils.js')
		script(src='/javascripts/NFC.js')
		//- script(src='/javascripts/bootstrap.min.js')
		//- script(src="/javascripts/FB_login.js")
		

		script(src="https://use.typekit.net/srl4fhb.js")
		script try{Typekit.load({ async: true });}catch(e){}
		script(src='/javascripts/scripts.js')
		
		block headScripts
	body
	.container
		nav.menubar
			//p Muse
			#menuHomeLink.menubarItem
				a(href="/")
					img#home(src="/images/home_icon.png")
			#menuTitle.menubarItem
				img(src="/images/Muse-MenuTitle.png")
			#menuHamburger.menubarItem
		.mainContainer
			block mainContainer
			
