extends layout
block headScripts
	script(src='/javascripts/login.js')
block mainContainer

	#splashscreen
		h1 MUSE
		.enter_login(href='#') Log In
		.enter_signup(href='#') Sign Up

	.login_defaultContainer
		form(name='login_form', id='login_form')
			h3(class='fields')
				label(for='email') E-mail
				input(id='email', type='text', value='', placeholder='example@muse.com', name='email' class='placeholdertext')
				div(id='FB_email', class='feedback')
			
			h3(class='fields')
				label(for='password') Password
				input(id='password', value='', placeholder='password', name='password', type='password' class='placeholdertext')
				div(id='FB_password', class='feedback')
			input(type='submit', value='Log In') 

	.login_defaultContainer
		a.button(href='signup') Sign Up
