extends layout

block headScripts
	script(src="/javascripts/selectMuseum.js")
	link(rel='stylesheet', href='stylesheets/selectMuseum.css')

block mainContainer
	.selectMuseumContainer
		h2(class='welcome') Select Museum : 

		.museumList
			each val in data
				button.startVisitButton(value=val.museumId) #{val.museumName}

		//.next
			a.button(id='startVisitButton') Start Visit
			div(id='FB_startVisitButton', class='feedback')