extends layout

block mainContainer
	.selectMuseumContainer
		h2(class='welcome') Select Museum : 

		.museumList
			each val in data
				button.select(value='#{val.museumId}') #{val.museumName}

		.next
			a.button(href='checkIn') Next
