extends layout

block headScripts
	script(src="/javascripts/selectMuseum.js")

block mainContainer
	.selectMuseumContainer
		h2(class='welcome') Select Museum : 

		.museumList
			each val in data
				button.select(value='#{val.museumId}') #{val.museumName}

		.next
			a.button(id='startVisitButton',href='checkIn') Start Visit
			div(id='FB_startVisitButton', class='feedback')