extends layout

block mainContainer
	.selectMuseumContainer
		h2(class='welcome') Select Museum :

		.museumList
			button.select E5 6004

			button.select Museum 1

		.next
			a.button(href='checkIn') Next
