extends layout
block headScripts
	script(src='/javascripts/signup.js')
block mainContainer
	.signupContainer
		h3 Already have an account? 
			a(href='/login') Log-in
		form(name='login_form', id='login_form')
			label(for='email') E-mail
			input(id='email', type='text', value='', placeholder='example@muse.com', name='email' class='placeholdertext')
			div(id='FB_email', class='feedback')

			label(for='password') Password
			input(id='password', value='', placeholder='password', name='password', type='password' class='placeholdertext')
			div(id='FB_password', class='feedback')

			label(for='fName') First Name
			input(id='fName', type='text', value='', placeholder='John', name='fName' class='placeholdertext')

			label(for='lName') Last Name
			input(id='lName', type='text', value='', placeholder='Johnston', name='lName' class='placeholdertext')

			label(for='gender') Gender
			select(id='gender', name='gender' class='placeholdertext')
				option(value='null', selected='selected' class='placeholdertext' disabled) Please Choose
				each gen in gender
					option(value=gen.gender class='placeholdertext') #{gen.genderDesc}

					//- Instead of Select, consider using twitter bootstrap dropdown - it's currently commented out but the script include for bootstrap is in layout.jade if you want it and it's already in the javascripts folder

			label(for='ageRange') Age
			select(id='ageRange', name='ageRange' class='placeholdertext')
				option(value='null', selected='selected' class='placeholdertext' disabled) Please Choose
				each age in ageRange
					option(value=age.ageRange) #{age.ageRangeDesc}

			input(class='button', type='submit', value='Sign Up') 
