body{
  font: 8vw "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #6D6E72;
  text-align: center;
  margin: 0;
}

h1, h2, h3, h4 {
    font-family: "servus-slab", sans-serif;
    font-variant: small-caps;
    font-weight: normal;
}

p{
  font-family:"servus-slab", sans-serif;
  font-weight: normal;
  font-size:4vw;
  margin:7px;
  /*text-align: justify;*/
}

h1{
    font-size: 10vw;
    color: #6d6f71;
    text-align: center;
    margin-top: 0px;
}

h2{
	color: #6d6f71;
	font-weight: normal;
	padding:0px;
	background-repeat: repeat-x;
	text-align: center;
	margin-top:0px;
  margin-bottom:0px;
	width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size:8vw;
}

h3{ 
  font-size: 6vw;
  color: #6d6f71;
  margin: 0px;
  /*text-align: justify;*/
}

h4{
  font-size:4vw;
  margin:0px;
  text-align: center;
}

div{
margin-left: 0px;
}

/*.button {
    background-color: #6D6E72;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    width: 30%;
    height: 10vw;
}*/

input[type="text"],
input[type="password"],
select
{
	font-size:5vw;
	border-radius: 5px;
}

.mainContainer{
    padding:15px;
}
.indexContainer{
    padding:5%;
}

.menubar{
  width:100%;
  background-color:#6d6f71;
  color:#ffffff;
  margin:0;
}

.menubar img{
  height:45px;
  margin-top:5px;
  margin-bottom:5px;
  position: relative;
}

#menuBarHomeLink {
  position: absolute;
  top: 0;
  left: 0;
}

img#home {
  float:left;
  height: 35px;
  margin-top: 13px;
  margin-left: 13px;
}

.upcoming {
  text-align: left;
  margin-top: 30px;
}

.upcoming h3{
  margin-bottom: 10px;
}

.recent {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 20px;
}

.boxVisits{
  border: 2px solid #6d6f71;
  border-radius: 15px;
  overflow:hidden;
  margin-top: 5px;
}

.boxVisits h4{
  background-color:#6d6f71;
  color:#ffffff;
  padding-left: 8px;
  padding-bottom: 4px;
  font-size: 6vw;
}

.boxVisits p{
  padding-left: 8px;
}

.planVisit{
  margin-top: 30px;
  margin-bottom: 10px;
}

.selectMuseumContainer {
  text-align: center;
}

.museumList {
  margin-top: 20px;
}

.museumList button {
  margin-top: 20px;
}

.planList {
  margin-top: 20px;
  text-align: center;
}

.planList button {
  margin-top: 20px;
}

.planList p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.next {
  width: 50%;
  margin-top: 50px;
  margin-left:auto;
  margin-right:auto;
}


button, a.button, input.button, input[type='submit'] {
  border: 2px solid #6d6f71;
  border-radius: 15px;
  overflow:hidden;
  background-color: #6d6f71;
  width: 100%;
  font-family: "servus-slab", sans-serif;
  font-variant: small-caps;
  color: #ffffff;
  font-size: 8vw;
  display: inline-block;
  text-decoration: none;
}

button.selected {
  background-color: #414042;
  border-color: #414042;

}

.signupContainer {
  text-align: center;
  font-family: "servus-slab", sans-serif;
  font-variant: small-caps;
}

.signupContainer a {
  color: #6d6f71;
}

.signupContainer form {
  margin-top: 30px;
  text-align: left;
}

.signupContainer label {
  font-size: 7vw;
  margin-bottom:;
}

.signupContainer label,
.signupContainer input[type="text"],
.signupContainer input[type="password"],
.signupContainer select {
  display: block;
  width: 100%
}

.signupContainer input[type="text"],
.signupContainer input[type="password"] {
  padding: 10px;
  width: calc(100% - 24px);
}

.signupContainer input {
  margin-top: 0px;
  margin-bottom: 10px;
  /*margin-left: 10px;*/
}

.signupContainer select {
  border: 1px solid #aaa;
  margin-top: 5px;
}

.signupContainer .button { 
  margin-top: 30px;
  margin-left: 0px;  
  width: ;
}

.checkInContainer {

}

.checkInContainer input[type="text"]{
  width: 10%;
  margin-left: 3px;
  margin-right: 3px;
}

.checkInContainer input[type="submit"]{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 70%;
}

form#checkIn {
  margin-top: 20px;
}

.fields{
  float: right;
}



/* Accordion List Styling */
.accordion-toggle {cursor: pointer;}
.accordion-content {display: none;}
.accordion-content.default {display: block;}
 
