h1{
	  font: 10vw "Lucida Grande", Helvetica, Arial, sans-serif;
	  color: #6D6E72;
	  text-align: center;
	  margin-top: 0px;
}

body{
  font: 8vw "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #6D6E72;
  text-align: center;
  margin-left: 0px;
  margin-top: 0px;

}

h2{
	font: 6vw "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #6D6E72;
	font-weight: normal;
	padding: 45px;
	background-repeat: repeat-x;
	background-color: #d1d2d4;
	text-align: center;
	margin-left: 0px;
	margin-top: 0px;
	position: fixed;
	width: 90%;
}

h3{ 
	padding-left: 50px;
	padding-right: 50px;
  	font: 2vw "Lucida Grande", Helvetica, Arial, sans-serif;
  	color: #6D6E72;
  	margin-left: 0px;
  	text-align: justify;
}

div{
margin-left: 0px;
}

.button {
    background-color: #6D6E72;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    width: 30%;
    height: 10vw;
}

input[type="text"]
{
	font-size:5vw;
	border-radius: 5px;
}

