/* Museum Level */

#drillTrack {
	width: 70%;
	font-size: 15px;
	position: fixed;
	z-index:3;
	top:60px;
	left:100px;
	margin:0;
}
.chartContainer{
	width: 78%;
}
.titleHead{
	background-color: #666666;
 	color: #FFFFFF;
 	width: 100%;
 	height: 30px;
 	vertical-align: center;
 	font-family: MuseoFive, Museo;
	font-size: 20px;
	border: 2px solid #a6a6a6;
}
.titleHead h4{
	margin: 4px;
	margin-left: 10px;
}

#museums {
	width: 45vw;
	font-family: MuseoSansFive, Museo Sans;
	font-size: 20px;
	font-weight: normal;
}

/* Exhibit Level */

#exhibitContainer {
	font-family: MuseoSansFive, Museo Sans;
}
.alignFilters{
	display: table;
	width: 78%;
}
.horizAlign{
	display: table-cell;
	vertical-align: center;
}
.left-align{
	width:140px;
}
.right-align{
	width: 100%;
}
.filters {
	border: 2px solid #d1d1d1;
	border-top: none;
	padding: 8px;
	padding-top: 5px;
	width: 140px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.filters button{
	color: #333333;
	font-size: 12px;
}
.btn
{
	width: 120px;
	padding: 3px;
	margin: 0;
}

.alignSearch{
	display: table;
	padding: 10px;
	width: 78%;
}
.dateRange {
	display: table-cell;
	text-align: left;
}
.datePicker{
	text-align: center;
	width: 100px;
}

.dateRange p {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}
.alignBarRight{
	width: 100%;
	text-align: right;
}
#searchBar {
	width: 200px;
	display: table-cell;
}

.exhibitTable, .elementTable{
	width: 70%;
}

.exhibitTable table, .elementTable table {
	margin-top: 10px;
}

.exhibitTable thead, .elementTable thead {
	font-size: 16px;
	color: #8beabf;
}

.exhibitTable tbody tr:hover, .elementTable tbody tr:hover {
	background-color: #d1d1d1;
	cursor: pointer;
}

.dynatable-head {
	color: #6baf8f;
}

.dynatable-active-page {
	background: #6baf8f;
}
.exhibitTable td , .elementTable td {
	padding: 5px;
}

