/* Custom Fonts */

@font-face{
  font-family: MuseoSansFive;
  src: url('MuseoSans_500-webfont.ttf');
}

@font-face{
  font-family: MuseoFive;
  src: url('Museo500-Regular-webfont.ttf');
}

@font-face{
  font-family: 'Museo Sans Cyrl 100';
  font-style: normal;
  font-weight: normal;
  src: local('Museo Sans Cyrl 100'), url('MuseoSansCyrl.woff') format('woff');
}



/* Menu bar */

.menubar {
	position: fixed;
	top: 0px;
  left: 0px;
	width: 100vw;
	height: 60px;
	background-color: #8beabf;
 	color: #333333;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 3;
}
.menuItem:hover{
  cursor:pointer;
}
.headerContainer{
  display: table;
  margin-top: 5px;
  width: 100vw;
}
#header1 {
  font-family: MuseoFive;
  text-transform: uppercase;
  color: #333333;
  font-size: 40px;
  margin-top: 8px;
  margin-bottom: 0px;
  display: table-cell; 
  vertical-align: middle;
  width: 50vw;
  padding-right: 15px;
  text-align: right;
}

#header2 {
  font-family: 'Museo Sans Cyrl 100';
  color:#333333;
  font-size: 25px;
  font-weight: lighter;
  text-transform: lowercase;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  /*line-height: 1vw !important;*/
}


.container {
  text-align: left;
  margin-left: 130px;
}

#titlebar {
  width: 70%;
  font-size: 15px;
  position: fixed;
  z-index:3;
  top:60px;
  left:100px;
  margin:0;
}

#titlebar h3 {
  padding: 8px 15px;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #f5f5f5;
  font-family: MuseoSansFive, Museo Sans;
  color: #333333;
  font-size: 30px;
  font-weight: normal;
}


.pageTitle{
  font-family: 'Museo Sans Cyrl 100';
  color:#333333;
  font-size: 25px;
  font-weight: lighter;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding-bottom: 10px;
}


/* Main Container */

.mainContainer {
 
  color: #333333;
  margin-top: 85px;
  width: 85vw;
}

/* Tabs */

.nav-tabs {
  font-family: MuseoSans, Museo Sans;
  font-size: 20px;
  color: #333333;
}

.nav-tabs li a {
  color: #808080;
}

.nav-tabs li.active a {
  color: #333333;
}

.tab-content {
  padding-left: 15px;
}

/* Parameters */

.parameters {
  margin-top: 150px;
}

.parameters label {
  font-family: 'Museo Sans Cyrl 100';
  font-weight: normal;
  font-size: 25px;
  color: #333333;
  margin-right: 10px;
}

.parameters select {
  margin-top: 5px;
  margin-bottom: 20px;
}

#selectMuseum {
  float: left;
  display: inline;
  margin-right: 40px;
}

/* Elements */

.elements {
  font-family: 'Museo Sans Cyrl 100';
}

.elements h1 {
  font-family: MuseoSans, Museo Sans;
  font-weight: normal;
  font-size: 30px;
  color: #333333;
}

.elementsEdit {
  float: left;
  display: inline;
  margin-right: 50px;
}

.elementsEdit button {
  width: 160px;
  font-family: 'Museo Sans Cyrl 100';
  font-weight: normal;
  background-color: #4d4d4d;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  padding: 7px;
}

#show {
  padding-top: 0px;
  float: left;
  display: inline;
}
#show label {
  float: left;
  display: inline;
  font-size: 20px;
  padding-right: 15px;
}

#show select {
  margin-top: -3px;
  height: 30px;
  width: 100px;
}

#elementsTableContainer {
  float: left;
  display: inline;
}

.elements #vElementsTable {
  margin-top: 10px;
  font-family: 'Museo Sans Cyrl 100';
  width: 900px;

}

#vElementsTable {

}

#vElementsTable tr {
}

#vElementsTable th {
  text-align: left;
  white-space: nowrap;
}

#vElementsTable .dynatable-per-page-label {
  visibility: hidden;
}

#vElementsTable .dynatable-per-page-select {

}

table, th, td {
  border: 1px solid black;
}

td {
  padding: 2px;
  text-align: left;
}
th {
  padding: 2px;
  background-color: #ffffff;
}

.clickLink {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
}

#tagTypeList {
  margin-top: 10px;
  margin-bottom: 10px;
}

#selectedTagType {
  font-weight: bold;
}

#selectedElement {
  font-weight: bold;
}

/* Tags */

.tags {
  clear: both;
  margin-top: 0px;
  font-family: 'Museo Sans Cyrl 100';
}

.tags h1 {
  font-family: MuseoSans, Museo Sans;
  font-size: 30px;
  padding-top: 0px;
  font-weight: normal;
  color: #333333;
}

#selectElement label {
  font-size: 20px;
}