.menubar{
	position: fixed;
	top:0px;
	width: 100%;
	height: 80px;
	background-color:#6d6f71;
 	color:#ffffff;
  	margin:0;
  	padding: 0;
  	text-align: center;
}
.mainContainer{
    padding:15px;
    color: black;
    margin-top: 80px;
}

table, th, td {
   border: 1px solid black;
}

td {
  padding: 2px;
}

.clickLink {
  text-decoration: underline;
}

#tagTypeList {
  margin-top: 10px;
  margin-bottom: 10px;
}

#selectedTagType {
  font-weight: bold;
}

#selectedElement {
  font-weight: bold;
}