extends layout

block mainContainer
	.indexContainer
		//h1#page-title= title
		h2(class='welcome') Welcome, Visitor
		//a(href="artInfo") Link to Art Info
		//.upcoming
			h3(class='welcome') Upcoming Visits
			.boxVisits
				h4 Upcoming Visit 1
				p Text
		//.recent
			h3(class='welcome') Recent Visits
			.boxVisits
				h4 Recent Visit 1
				p Text

		.upcoming
			h3(class='welcome') Upcoming Visits
			#visits_accordion_upcoming
				.boxVisits
					h4.accordion-toggle Upcoming Visit 1
					.accordion-content.default
						p Text
						p More text
				.boxVisits
					h4.accordion-toggle Upcoming Visit 2
					.accordion-content
						p Text
						p More text

		.recent
			h3(class='welcome') Recent Visits
			#visits_accordion_recent
				.boxVisits
					h4.accordion-toggle Recent Visit 1
					.accordion-content.default
						p Text
						p More text
				//.boxVisits
					h4.accordion-toggle Recent Visit 2
					.accordion-content
						p Text
						p More text
		.planVisit
			a.button(href='/selectMuseum') Plan Visit
