extends layout
block headScripts
	script(src='/javascripts/login.js')
block mainContainer
	.login_defaultContainer
		h3
			a(href='/signup' style='color: #6d6f71') Sign-Up

		form(name='login_form', id='login_form')
			h3(class='fields' )
				
				label(for='email') E-mail
				input(id='email', type='text', value='', placeholder='example@muse.com', name='email')
			
			h3(class='fields' )
				label(for='password') Password
				input(id='password', value='', placeholder='password', name='password', type='password')
			
			input(type='submit', value='Log In') 


