extends layout
block headScripts
	script(src='/javascripts/login.js')
block mainContainer
	h3
		a(href='/signup' style='color: #6d6f71') Sign-Up
	br
	form(name='login_form', id='login_form')
	h3(class='fields' )
		label(for='email') E-mail
			input(id='email', type='text', value='', placeholder='example@muse.com', name='email')
			br
	h3(class='fields' )
		label(for='password') Password
			input(id='password', value='', placeholder='password', name='password', type='password')
		br
		br
	input(type='submit', value='Log In') 


