extends layout

block mainContainer

    h1 Welcome to ABC Gallery
    br
    h4
        | Tab your phone at an NFC sticker to check-in!
        br
        |or enter the 6 digit code
        input(type='text', name='code' id='txt' name='code')
        br
        br
        br
        br
        a(href='#' class='button') Next
        