extends layout

block mainContainer

    h1 Welcome to ABC Gallery
    br
    h4
        | Tab your phone at an NFC sticker to check-in!
        br
        br
        br

        |or enter the 6 digit code

        input(type='text', name='code' id='txt' )
        br
        br

        .next
            a.button(href='/') Next
        