extends layout
block headScripts
    script(src='/javascripts/tap.js')
block mainContainer

    h1 Welcome to ABC Gallery
    br
    h4
        | Tap your phone at an NFC sticker to check-in!
        br
        br
        br

        |or enter the 4 digit code

        input(type='text', name='code' id='txt' )
        br
        br

        .next
            a.button(href='/') Next
        