extends layout

block mainContainer

  h1 Welcome to ABC Gallery
  br
  br
  p
  p
    div
      | Tab your phone at an NFC sticker to check-in!
      br
      p or enter the 6 digit code
      input(type='text', name='code' size='10%')
      br
      br

      a(href='hello2.html')
      img(src='../images/button.gif')