extends layout
block headScripts
	script(src='/javascripts/entry.js')
	
block mainContainer
	h2 Parameters
	div
		label(for='museum') Select Museum:
		select(type='text',name='museum',id='museumSelector',class="text ui-widget-content ui-corner-all")
		label(for='exhibit') Select Exhibit:
		select(type='text',name='museum',id='exhibitSelector',class="text ui-widget-content ui-corner-all")
			option Select museum first
	h1 Museum Elements	
	div
		label(for='active') Active:
		select(type='text',name='active',id='vElementsTable-activeSelector',class="text ui-widget-content ui-corner-all")
			option(selected='selected') Active
			option Inactive
			option All
	table(id='vElementsTable')
		thead
			th Active
			th Exhibit
			th Element
			th Code
			th Artist
			th Year
			th Description
			th Image Link
			th Num Tags
		tbody


	h1 Element Tags
	div
		label(for='element') Select Element:
		select(type='text',name='active',id='vTagsTable-elementSelector',class="text ui-widget-content ui-corner-all")
			option Select exhibit first
		label(for='active') Active:
		select(type='text',name='active',id='vTagsTable-activeSelector',class="text ui-widget-content ui-corner-all")
			option(selected='selected') Active
			option Inactive
			option All
	div
		button(id='tagElementButton', class='clickLink') TAG ELEMENT
		div(id='tagElementWindow')
			form(id='tagElementForm')
				fieldset
					//div(id="tagElementForm-museumBox")
						label(for='museum') Select Museum:
						select(type='text',name='museum',id='tagElementForm-museum',class="text ui-widget-content ui-corner-all")
					//div(id="tagElementForm-exhibitBox")
						label(for='exbibit') Select Exhibit:
						select(type='text',name='exhibit',id='tagElementForm-exhibit',class="text ui-widget-content ui-corner-all")
					//div(id="tagElementForm-elementBox")
						label(for='element') Select Element:
						select(type='text',name='element',id='tagElementForm-element',class="text ui-widget-content ui-corner-all")
					div(id="tagElementForm-tagTypeBox")
						lable(for='tagType') Select Tag Type:
						select(type='text',name='tagType',id='tagElementForm-tagType',class="text ui-widget-content ui-corner-all")
					div(id='tagElementForm-tagBox')
						lable(for='tag') Select Tag:
						select(type='text',name='tag',id='tagElementForm-tag',class="text ui-widget-content ui-corner-all")
					input(type='submit',style='position:absolute; top:-1000px')
	table(id='vTagsTable')
		thead
			th Active
			th Type
			th Tag
		tbody



	//h1 List of Tag Types
	//div(id='tagTypeList', class='clickLink') Click here
	//div(id='tagTypeList-results')

	h1 Buttons
	div
		button(id='addTagButton', class='clickLink') ADD TAG
		div(id='addTagWindow', title="Add Tag")
			form(id='addTagForm')
				fieldset
					label(for='elementTagType') Select Tag Type:
					select(type='text',name='elementTagType',id='addTagForm-elementTagType',class="text ui-widget-content ui-corner-all")
					label(for='elementTag') Enter Tag Name:
					input(type='text',name='elementTag',id='addTagForm-elementTag',class="text ui-widget-content ui-corner-all")
					input(type='submit',style='position:absolute; top:-1000px')

	div
		button(id='addExhibitButton', class='clickLink') ADD EXHIBIT
		div(id='addExhibitWindow', title="Add Exhibit")
			form(id='addExhibitForm')
				fieldset
					div(id='addExhibitForm-museumBox')
						label(for='museum') Select Museum:
						select(type='text',name='museum',id='addExhibitForm-museum',class="text ui-widget-content ui-corner-all")
					div(id='addExhibitForm-exhibitBox')
						lable(for='exhibit') Enter Exhibit Name:
						input(type='text',name='exhibit',id='addExhibitForm-exhibit',class="text ui-widget-content ui-corner-all")
					input(type='submit',style='position:absolute; top:-1000px')

	div
		button(id='addElementButton', class='clickLink') ADD ELEMENT
		div(id='addElementWindow', title="Add Element")
			form(id='addElementForm')
				fieldset
					div(id="addElementForm-museumBox")
						label(for='museum') Select Museum:
						select(type='text',name='museum',id='addElementForm-museum',class="text ui-widget-content ui-corner-all")
					div(id="addElementForm-exhibitBox")
						label(for='exbibit') Select Exhibit:
						select(type='text',name='exhibit',id='addElementForm-exhibit',class="text ui-widget-content ui-corner-all")
					div(id="addElementForm-elementBox")
						label(for='element') Enter Element Name:
						input(type='text',name='element',id='addElementForm-element',class="text ui-widget-content ui-corner-all")
					div(id="addElementForm-artistBox")
						label(for='aritst') Select Artist:
						select(type='text',name='aritst',id='addElementForm-aritst',class="text ui-widget-content ui-corner-all")
					div(id="addElementForm-yearBox")
						label(for='year') Enter Year:
						input(type='number',name='year',id='addElementForm-year',class="text ui-widget-content ui-corner-all")
					div(id="addElementForm-descriptionBox")
						label(for='description') Enter Description (max 500 characters):
						input(type='text',name='description',id='addElementForm-description',class="text ui-widget-content ui-corner-all")
					div(id="addElementForm-imageLinkBox")
						label(for='imageLink') Enter Link to Image:
						input(type='text',name='imageLink',id='addElementForm-imageLink',class="text ui-widget-content ui-corner-all")
					input(type='submit',style='position:absolute; top:-1000px')

	// A window that opens and shows you all exhibits 
	div
		button(id='hidden-exhibitList', title="Exhibits")
			form(id='vExhibitsTableFilter')
				fieldset
					label(for='museum') Select Museum:
					select(type='text',name='museum',id='vExhibitsTableFilter-museum',class="text ui-widget-content ui-corner-all")
			table(id='vExhibitsTable')
				thead
					th Exhibit
					th Active
				tbody



					

	div
		button(id='testButton', class='clickLink') Test Button
	div
		button(id='showExhibitsButton', class='clickLink') Show Exhibits 

