extends layout
block headScripts
	script(src='/javascripts/entry.js')
	script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
	scrtip(src='/javascripts/jquery.dynatable.js')
	link(rel='stylesheet' href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
	link(rel='stylesheet', href='/stylesheets/jquery.dynatable.js')
block mainContainer
	h1 Museum Elements
	
	// general structure to get data from a query
	table(id='elementList')
		tr
			each val, index in data[0][0]
				th=index
		each rows in data[0]
			tr
				each val, index in rows
					td=val


	h1 Element Tags
	table
		tr
			each val, index in data[1][0]
				th=index
		each rows in data[1]
			tr
				each val, index in rows
					td=val

	h1 List of Tag Types
	div(id='tagTypeList', class='clickLink') Click here
	div(id='tagTypeList-results')

	h1 Windows
	div(id='addTagButton', class='clickLink') Click to add tag
		div(id='addTagWindow', title="Add Tag")
			form(id='addTagForm')
				fieldset
					label(for='elementTag') Tag Name
					input(type='text',name='elementTag',id='addTagForm-elementTag',class="text ui-widget-content ui-corner-all", value='Enter tag name')
					label(for='elementTagType') Tag Type
					select(type='text',name='elementTagType',id='addTagForm-elementTagType',class="text ui-widget-content ui-corner-all")
					input(type='submit',style='position:absolute; top:-1000px')

	div(id='tagElementButton', class='clickLink') Click to tag element
		div(id='tagElementWindow', title="Tag Element")
			form(id='tagElementForm')
				fieldset
					div(id="tagElementForm-museumBox")
						label(for='museum') Select Museum
						select(type='text',name='museum',id='tagElementForm-museum',class="text ui-widget-content ui-corner-all")
					div(id="tagElementForm-exhibitBox")
						label(for='exbibit') Select Exhibit
						select(type='text',name='exhibit',id='tagElementForm-exhibit',class="text ui-widget-content ui-corner-all")
					div(id="tagElementForm-elementBox")
						label(for='element') Select Element
						select(type='text',name='element',id='tagElementForm-element',class="text ui-widget-content ui-corner-all")
					div(id="tagElementForm-tagTypeBox")
						lable(for='tagType') Select Tag Type
						select(type='text',name='tagType',id='tagElementForm-tagType',class="text ui-widget-content ui-corner-all")
					div(id='tagElementForm-tagBox')
						lable(for='tag') Select Tag
						select(type='text',name='tag',id='tagElementForm-tag',class="text ui-widget-content ui-corner-all")


					

	div(id='testButton', class='clickLink') Button

