extends layout
block headScripts
	script(src='/javascripts/chartDraw.js')

block mainContainer
	//example structure 
	- var data ={"exhibit0":{"piece_name0":"piece_date0", "piece_name1":"piece_date1"}, "exhibit1":{"piece_name0":"piece_date0", "piece_name1":"piece_date1"},"exhibit2":{"piece_name0":"piece_date0", "piece_name1":"piece_date1"},"exhibit3":{"piece_name0":"piece_date0", "piece_name1":"piece_date1"}}

	h4 Search
		input(placeholder='Search here')
	h4 Group By
		div(class='btn-group', role='group', aria-label='...')
			button(type='button', class='btn btn-default') Exhibit
			button(type='button', class='btn btn-default') Time-Period
			button(type='button', class='btn btn-default') Individual Pieces
			button(type='button', class='btn btn-default') Artist
	
	table(id='mytable')
		thead
			tr
				td Piece
				td Artist
				td Year
				td Exhibit
				td(class='metrics') # Views
				td(class='metrics') Avg. Holding Time
		tbody
			tr
				td Bananas in a Bowl
				td Drunk Lindsay
				td 2016
				td Still Lives for Alternate Lives
				td 20
				td 13.5
			tr
				td Piece of Corn
				td Drunk Lindsay
				td 2015
				td Still Lives for Alternate Lives
				td 12
				td 45
			tr
				td What is this Even
				td Drunk Lindsay
				td 2015
				td Still Lives for Alternate Lives
				td 32
				td 15
			tr
				td Stahp Pls
				td Drunk Lindsay
				td 1825
				td Still Lives for Alternate Lives
				td 13
				td 19
	for drop, val0 in data
		.dropdown
			button(class='btn btn-default dropdown-toggle ', type="button", data-toggle="dropdown") #{val0}
				span.caret
			ul.dropdown-menu 
				for val1, key in drop
					li
						a(href="#")  #{key}: #{val1}
	h4 Metrics on Bananas in a Bowl
	div#myPieChart
	h5 Filter
		div(class='btn-group', role='group', aria-label='...')
			button(type='button', class='btn btn-default') avg Holding Power
			button(type='button', class='btn btn-default') Likes
			button(type='button', class='btn btn-default') Favourites
			button(type='button', class='btn btn-default') Comparatives

