extends layout
block headScripts
	script(src='https://www.gstatic.com/charts/loader.js')
	script(src='/javascripts/chartDraw.js')
	link(rel='stylesheet', href='/stylesheets/index.css')

block mainContainer 
	ol.breadcrumb(id='drillTrack', title='Navigate Breadcrumbs')
		li(id='museumCrumb')
			a(href='#') Museum
	.containerAdjust
		span
			h3(class='pageTitle') Analytics -&nbsp;
			h3(class='pageTitle', id='subTitle') Select Museum

		div(class='list-group', id='museums')
			each museum in museums
				button(class='list-group-item museum', type="button", value=museum.museumId) #{museum.museumName}
		div(id='exhibitContainer')
