extends layout
block headScripts
	script(src='/javascripts/chartDraw.js')
	link(rel='stylesheet', href='/stylesheets/index.css')

block mainContainer 
	ol.breadcrumb(id='drillTrack')
		li(id='museumCrumb')
			a(href='#') Museum

	div(class='list-group', id='museums')
		each museum in museums
			button(class='list-group-item museum', type="button") #{museum.museumName}
	div(id='exhibitContainer')
