doctype html
html
	head
		title= title

		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/jquery.dynatable.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/jquery.dynatable.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
		link(rel='stylesheet', href='/stylesheets/layout.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')

		script(src='/javascripts/jquery-1.11.3.min.js')
		script(src='/javascripts/jquery-ui.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/jquery.dynatable.js')
		script(src='/javascripts/layout.js')
		
		
		block headScripts

		body
		.container
			.menubar
				.headerContainer
					h1(id='header1') Muse   
					h2(id='header2') Analytics Dashboard

			.sidebar
				.iconLinks
					a.menuItem.index(href='index', title='Views and Holding Power')
						i(class="fa fa-cog fa-lg")
					a.menuItem.path(href='path', title='View User Path')
						i(class="fa fa-map-marker fa-lg")
					a.menuItem.entry(href='entry', title='Edit')
						i(class="fa fa-pencil fa-lg")

			.mainContainer
				block mainContainer