doctype html
html
	head
		title= title

		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(src='/javascripts/jquery-1.11.3.min.js')
		script(src='/javascripts/bootstrap.min.js')

		script(src='https://www.gstatic.com/charts/loader.js')

		script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
		script(src='/javascripts/jquery.dynatable.js')
		link(rel='stylesheet' href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/jquery.dynatable.css')
		
		block headScripts

		body
		.container
			.menubar
				h1 Muse Admin

			.mainContainer
				block mainContainer