doctype html
html
	head
		title= title

		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/jquery.dynatable.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/jquery.dynatable.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
		link(rel='stylesheet' href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')

		script(src='/javascripts/jquery-1.11.3.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='https://www.gstatic.com/charts/loader.js')

		script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
		script(src='/javascripts/jquery.dynatable.js')
		
		
		block headScripts

		body
		.container
			.menubar
				.headerContainer
					h1(id='header1') Muse   
					h2(id='header2') Analytics Dashboard

			.sidebar
				.iconLinks
					a(href='index')
						img#stopwatch(src="images/stopwatch.svg", class='menuItem')
					a(href='path')
						img#location(src="images/Location.svg", class='menuItem')
					a(href='entry')
						img#pencil(src="images/Pencil.svg", class='menuItem')

			.mainContainer
				block mainContainer