doctype html
html
	head
		title= title

		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/dynatable.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')

		script(src='/javascripts/jquery-1.11.3.min.js')
		script(src='/javascripts/jquery-ui.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/jquery.dynatable.js')
		script(src='https://www.gstatic.com/charts/loader.js')
		block headScripts

		body
		.container
			.menubar
				h1 Muse Admin

			.mainContainer
				block mainContainer