extends layout
	
block headScripts
	script(src='/javascripts/heatmap.min.js')
	script(src='/javascripts/path.js')
	link(rel='stylesheet', href='/stylesheets/index.css')
	link(rel='stylesheet', href='/stylesheets/path.css')

block mainContainer
	h3(class='pageTitle') User Path
	.alignSearch
		.dateRange
			input(type='text', class='datePicker', id='date_1')
			p to
			input(type='text', class='datePicker', id='date_2')

	div(class='mapContainer')
		div(class='titleHead')
			h4 Holding Power Heatmap
		div(id='hpHeatMap')
			canvas(id='hpMapCanvas', width='600', height='450')
