extends layout
	
block headScripts
	script(src='/javascripts/heatmap.min.js')
	script(src='/javascripts/path.js')
	link(rel='stylesheet', href='/stylesheets/index.css')
	link(rel='stylesheet', href='/stylesheets/path.css')

block mainContainer
	#titlebar 
		h3 User Path

	#pathContainer
		h3(class='pageTitle', id='subTitle') Select Museum
		div(class='list-group', id='museums')
			each museum in museums
				button(class='list-group-item museum', type="button", value=museum.museumId) #{museum.museumName}
		.alignSearch
		.dateRange
			input(type='text', class='datePicker', id='date_1')
			p to
			input(type='text', class='datePicker', id='date_2')

		div#partialContainer

