input(type='text', class='datePicker', id='date_1')
input(type='text', class='datePicker', id='date_2')
br
div(class='btn-group')
	div(class='dropdown btn-group')
		button(class='btn btn-default dropdown-toggle ', type="button", data-toggle="dropdown", id='time') Time
		ul(class='dropdown-menu time')
			li
				a(href='#') Days of the Week
			li
				a(href='#') Months
	div(class='dropdown btn-group')
		button(class='btn btn-default dropdown-toggle ', type="button", data-toggle="dropdown", id='gender') Gender
		ul(class='dropdown-menu gender')
			li
				a(href='#') Female
			li
				a(href='#') Male
			li
				a(href='#') Declined Answer
	div(class='dropdown btn-group')
		button(class='btn btn-default dropdown-toggle ', type="button", data-toggle="dropdown", id='age') Age Range
		ul(class='dropdown-menu age')
			li
				a(href='#') <18
			li
				a(href='#') 18-20
			li
				a(href='#') 20-25
			li
				a(href='#') 25-30
			li
				a(href='#') 30-40
			li
				a(href='#') 40-50
			li
				a(href='#') 50-60
			li
				a(href='#') 60-70
			li
				a(href='#') >70

input(id='exhibitName', placeholder='Search here')

table(id='mytable')
	thead
		tr
			td Piece Name
			td(class='metrics') Views
			td(class='metrics') Holding Power
	tbody
		tr
			td DINOSAURS
			td 40
			td 36
		tr
			td THERES SO MANY
			td 50
			td 25
		tr
			td SUCH BIG
			td 32
			td 13
		tr
			td SO COOL
			td 45
			td 25
		tr
			td WOW
			td 74
			td 36

div#myPieChart