extends layout
block headScripts
	link(rel='stylesheet', href='/stylesheets/dynatable.css')
	script(src='/javascripts/tableTest.js')
block mainContainer
	table(id='mytable')
		thead
			tr
				td Piece
				td Artist
				td Year
				td Exhibit
				td # Views
				td # Avg. Holding Time
		tbody
			tr
				td Bananas in a Bowl
				td Drunk Lindsay
				td 2016
				td Still Lives for Alternate Lives
				td all
				td forever