
/* Custom Fonts */

@font-face{
  font-family: MuseoSans;
  src: 'MuseoSans_500-webfont.ttf';
}

@font-face{
  font-family: Museo;
  src: 'Museo500-Regular-webfont.ttf';
}

@font-face{
  font-family: MuseoSansThin;
  src: 'MuseoSansCyrl.otf';
}

/* General */
body{
  /*font: 8vw "Lucida Grande", Helvetica, Arial, sans-serif;*/
  color: #6D6E72;
  text-align: center;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: MuseoSans, Museo Sans;
  
  /*font-variant: small-caps; */
  font-weight: normal;
}


p{
  font-family: MuseoSans, Museo Sans;
  font-weight: normal;
  font-size:4vw;
  margin:7px;
  text-align: justify;

}

h1{
    font-size: 10vw;
    color: #6d6f71;
    text-align: center;
    margin-top: 0px;
}

h2{
	color: #6d6f71;
	font-weight: normal;
	padding:0px;
	background-repeat: repeat-x;
	text-align: center;
	margin-top:0px;
  margin-bottom:0px;
	width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 8vw;
}

h3{ 
  font-size: 6vw;
  color: #6d6f71;
  margin: 10px;
  /*text-align: justify;*/
}

h4{
  font-size:4vw;
  margin:0px;
  text-align: center;
}

h5{
  font-size:8vw;
  margin:0px;
  text-align: center;
}

div{
margin-left: 0px;
}

input[type="text"],
input[type="password"],
select
{
	font-size:5vw;
	border-radius: 5px;
}


/* Menu Bar */

.menubar{
  width:100%;
  background-color:#939598;
  color:#ffffff;
  margin:0;
}
.menubar:after {
  content: " ";
  display: block;
  clear: both;
}

.menubar img{
  height: 10vw;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}

.menubarItem {
  float: left;
  width: 20%
}

#menuTitle {
  width: 60%;
}

#menuTitle h2 {
  color: #ffffff;
  font-family: Museo, Museo;
  font-weight: bold;
  font-size: 10vw;
  letter-spacing: 4px;
  padding-top: 5px;
}

#menuHomeLink {
  text-align: left;
}

#menuHamburger {
  text-align: right;
}

img#home {
  height: 35px;
  margin-top: 13px;
  margin-left: 13px;
} 



/* Splash Screen */

#splashscreen{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #8beabf;
  vertical-align: middle;
  padding-top: 35%;
  padding-bottom: 50%;
  opacity: 0.97;
}

#splashscreen h1 {
  font-family: Museo, Museo;
  color: #ffffff;
  font-size: 27vw;
  font-weight: bold;
}

.enter_login, .enter_signup {
  border: 2px solid #6d6f71;
  border-radius: 15px;
  overflow:hidden;
  background-color: #808285;
  width: 80%;
  font-family: MuseoSans, Museo Sans;
  text-transform: uppercase;
  font-weight: lighter;
  color: #ffffff;
  font-size: 9vw;
  display: inline-block;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 15px;
}


.artifact {
  font-family: MuseoSans, Museo Sans;
  font-weight: normal;
  font-size:4vw;
  margin:7px;
  text-align: justify;
}

.mainContainer {
    padding:15px;
}

.indexContainer {
    padding:5%;
}

.additionalinfo {
  border: 2px solid #6d6f71;
  border-radius: 15px;
  overflow:hidden;
  background-color: #6d6f71;
  width: 951%;
  font-family: MuseoSans, Museo Sans;
  font-variant: small-caps;
  color: #ffffff;
  font-size: 8vw;
  display: inline-block;
  text-decoration: none;
}

.recent {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 20px;
}

.boxVisits {
  background-color: #6d6f71;
  color: #ffffff;
  border: 2px solid #6d6f71;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  text-align: center;
}
.recentVisit{
  display: inline-block;
  vertical-align:middle;
  text-align:center;
}

.boxSignup {
  border: 5px clear;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 40px;
}
.boxVisits h4 {
  padding-left: 8px;
  padding-bottom: 4px;
  font-size: 5vw;
}
.boxVisits p {
  padding-top: 3px;
  font-size: 3vw;
}

.boxSignup h5 {
  background-color: #6d6f71;
  color: #ffffff;
  padding-left: 8px;
  padding-bottom: 4px;
  font-size: 8vw;

}

.boxVisits p {
  padding-left: 8px;
}

.selectMuseumContainer {
  text-align: center;
}

.museumList {
  margin-top: 20px;
}

.museumList button {
  margin-top: 20px;
  width: 80%;
}

.planList {
  margin-top: 20px;
  text-align: center;
}

.planList button {
  margin-top: 20px

}

.planList p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.next {
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.signup
{
  width: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.signupbox {
  text-align: left;
  margin-top: 50px;
}
button, a.button, input.button, input[type='submit'] {
  border: 2px solid #6d6f71;
  border-radius: 15px;
  overflow:hidden;
  background-color: #808285;
  width: 100%;
  font-family: MuseoSans, Museo Sans;
  text-transform: uppercase;
  font-weight: lighter;
  color: #ffffff;
  font-size: 8vw;
  display: inline-block;
  text-decoration: none;

}

button.selected {
  background-color: #414042;
  border-color: #414042;

}

/* Sign Up */

.signupContainer, .login_defaultContainer {
  text-align: center;
  font-family: MuseoSans, Museo Sans;
  padding: 10px;
  
}

.signupContainer a {
  color: #6d6e71;
  font-family: MuseoSans, Museo Sans;
}

.signupContainer form,.login_defaultContainer form {
  margin-top: 30px;
  text-align: left;
}

.signupContainer label,
.login_defaultContainer label {
  font-size: 5vw;
  /*margin-bottom:;*/
  font-family: MuseoSans, Museo Sans;
  text-transform: uppercase;
}

.signupContainer label,
.signupContainer input[type="text"],
.signupContainer input[type="password"],
.signupContainer select,
.login_defaultContainer label,
.login_defaultContainer input[type="text"],
.login_defaultContainer input[type="password"],
.login_defaultContainer select {
  display: block;
  width: 100%
}

.signupContainer input[type="text"],
.signupContainer input[type="password"],
.login_defaultContainer input[type="text"],
.login_defaultContainer input[type="password"] {
  padding: 10px;
  width: calc(100% - 24px);
}

.signupContainer input,
.login_defaultContainer input {
  margin-top: 0px;
  margin-bottom: 10px;

}

.signupContainer select,
.login_defaultContainer select {
  border: 1px solid #aaa;
  margin-top: 5px;
}

.signupContainer .button { 
  margin-top: 30px;
  margin-left: 0px;  
  width: 95%;
}



/* Check In Page */

.checkInContainer input[type="text"]{
  width: 10%;
  margin-left: 3px;
  margin-right: 3px;
}

.checkInContainer input[type="submit"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 70%;
}

form#checkIn {
  margin-top: 20px;
}

.checkInContainer .welcome {
  width: auto;
}



/* Log In Page */

.login_defaultContainer input[type="submit"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 95%;
}

.login_defaultContainer a.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 95%;
}

.feedback{
  font-size: 2.5vw;
}

.placeholdertext{
  font-variant: normal;
}

.invalid{
  background-color: #ffffcc;
}


/*.fields{
  float: right;
}*/

.

/* Home/Index page */
.planVisit{
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left:auto;
  margin-right:auto;
  width: 100%;
}

.planVisit a.button {
  width: auto;
  font-size: 7vw;
  padding-left: 13px;
  padding-right: 13px;
  margin-top: 15px;
  margin-left:auto;
  margin-right:auto;
  width: 80%;
}


/* Accordion List Styling */

.accordion-toggle {cursor: pointer;}
.accordion-content {display: none;}
.accordion-content.default {display: block;}

.header{
  color: #6d6f71;
  text-align: center;
  padding: 5px;
  font-size: 4vw;
}

.button{
  color: #808285;
  padding: 5px;
}
.infobutton{
  color: #6d6f71;
  padding: 5px;
}

.additional_info{
  font-family:"servus-slab", sans-serif;
  font-weight: normal;
  font-size:2vw;
  margin:7px;
  text-align: justify;
  overflow: scroll;
  height: 200px;
}

.fav {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 6vw;
}

.favtext{
  font-size:6vw;
  text-align: center;
  padding-top:5px;
}

.boxFav{
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  overflow:hidden;
  background-color: #E6E6E6;
  margin-bottom: 10px;
  color: #6d6f71;
  padding-right:3px;

}

.infoImage {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  display: block;
}